       <!-- Breadcubs Area Start Here -->
       <div class="breadcrumbs-area">
        <h3>Download Assignments </h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li> Download Assignments </li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->

    <!-- Download Assignment  Start Here -->
    <div class="card height-auto">
        <div class="card-body">   
            <div class="table-responsive">
                <table id="example"  class="table display data-table text-nowrap cell-border">
                    <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Write in words</td>  
                            <td>Written</td>                           
                            <td>12/01/2020</td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Form the words</td>  
                            <td>Written</td>                           
                            <td>29/01/2020</td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Download Assignment Area End Here -->
