        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Book Issued</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Book Issued</li>
            </ul>
        </div>
        <!-- Breadcubs Area End Here -->
<!-- Book Issued Area Start Here -->
<div class="card height-auto">
    <div class="card-body">        
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                        <tr>

                            <th>Book Title</th>
                            <th>Book Number</th>
                            <th>Author</th>
                            <th>Issue Date</th>
                            <th>Return Date</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Shyamchi Aai</td>
                            <td>101</td>
                            <td>Sane Guruji</td>
                            <td>09/02/2020</td>
                            <td>19/02/2020</td>
                        </tr>
                        <tr>
                            <td>Chhava</td>
                            <td>274</td>
                            <td>Shivaji Sawant</td>
                            <td>25/01/2020</td>
                            <td>04/02/2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>
<!-- Book Issued Area End Here -->