       <!-- Breadcubs Area Start Here -->
       <div class="breadcrumbs-area">
        <h3>Homework</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Homework</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->

    <!-- Homework Start Here -->
    <div class="card height-auto">
        <div class="card-body"> 
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                            <tr>
                                <th>Class</th>
                                <th>Sction</th>
                                <th>Subject</th>
                                <th>Homework Date</th>
                                <th>Submission Date</th>
                                <th>Evaluation Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>A</td>
                            <td>Marathi</td>
                            <td>01/05/2020</td>
                            <td>05/05/2020</td>
                            <td>08/05/2020</td>
                            <td>Incomplete</td>                                                           
                            <td>
                                <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            </td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>A</td>
                            <td>Maths</td>
                            <td>03/05/2020</td>
                            <td>04/05/2020</td>
                            <td>05/05/2020</td>
                            <td>Complete</td>                                                           
                            <td>
                                <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Homework Area End Here -->
