        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Books</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Books</li>
            </ul>
        </div>
        <!-- Breadcubs Area End Here -->
<!-- Books Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                        <tr>
                            <th>Book Title</th>
                            <th>Publisher</th>
                            <th>Author</th>
                            <th>Subject</th>
                            <th>Rack Number</th>
                            <th>Qty</th>
                            <th>Book Price</th>
                            <th>Post Date</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <td>Shyamchi Aai</td>
                            <td>Saraswat Publications</td>
                            <td>Sane Guruji</td>
                            <td>General</td>
                            <td>19B</td>
                            <td>12</td>
                            <td>250</td>
                            <td>12/12/2009</td>
                        </tr>
                        <tr>
                            <td>Chhava</td>
                            <td>Mehata Publication House</td>
                            <td>Shivaji Sawant</td>
                            <td>Novel</td>
                            <td>27A</td>
                            <td>5</td>
                            <td>400</td>
                            <td>25/01/2012</td>      
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>
<!-- Book Area End Here -->