       <!-- Breadcubs Area Start Here -->
       <div class="breadcrumbs-area">
        <h3>Class Timetable</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Class Timetable</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!--Class Timetable Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table display data-table text-wrap cell-border">
                    <thead>
                            <tr>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                                <th>Sunday</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Subject: MARATHI 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: MATHS 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: Science 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: MARATHI 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: MATHS 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: Science 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Not Scheduled</td>                          
                        </tr>

                        <tr>
                            <td>Subject: Science 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: MARATHI 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: MATHS 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: Science 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: MATHS 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: MARATHI 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Not Scheduled</td>                          
                        </tr>

                        <tr>
                            <td>Subject: MARATHI 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: MATHS 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: Science 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: MARATHI 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: MATHS 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Subject: Science 9:37 AM - 10:37 AM Room Number: 5</td>
                            <td>Not Scheduled</td>                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Class Timetable Area End Here -->
