        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Fees</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Fees</li>
            </ul>
        </div>
        <!-- Breadcubs Area End Here -->
        <!-- Fees Area Start Here -->
        <div class="card height-auto">
            <div class="card-body">
                <div class="user-details-box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-12">
                            <div class="item-img text-center">
                                <img style="border-radius: 50%; height: 180px; width: 200px;" src="../../assets/img/figure/user.jpg" alt="user">
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-12">
                            <table style="margin: 1rem 1rem 0rem 1rem; border-bottom: 1px solid #dee2e6;" class="table">
                                <tbody>
                                    <tr>
                                        <th>Name</th>
                                        <td>Avdhoot Gore</td>
                                        <th>Class</th>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th>Father Name</th>
                                        <td>Atul</td>
                                        <th>Section</th>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <th>Mobile Number</th>
                                        <td>8600865500</td>
                                        <th>Roll Number</th>
                                        <td> 4 </td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <td>Special</td>
                                        <th>RTE</th>
                                        <td><b class="text-danger"> No </b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card height-auto">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table display data-table text-nowrap cell-border" style="border: 1px solid rgb(180, 180, 180)">
                        <thead>
                            <tr>
                                <th>Fees Group</th>
                                <th>Fees Code</th>
                                <th>Due Date</th>
                                <th>Status</th>
                                <th>Amount <span>(₹)</span></th>
                                <th>Payment Id</th>
                                <th>Mode</th>
                                <th>Date</th>
                                <th>Discount <span>(₹)</span></th>
                                <th>Fine <span>(₹)</span></th>
                                <th>Paid <span>(₹)</span></th>
                                <th>Balance <span>(₹)</span></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                    <td>General</td>
                                    <td>admission-fees</td>
                                    <td>10/01/2020</td>
                                    <td><b class="text-danger">Unpaid</b></td>
                                    <td>500.00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>500.00</td>
                                    <td><b class="text-success">Pay</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Grand Total</td>
                                <td>₹500.00</td>
                                <td></td>
                                <td></td>
                                <td></td>    
                                <td>₹0.00</td>
                                <td>₹0.00</td>
                                <td>₹0.00</td>
                                <td>₹500.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>





        
        <!-- Fees Area End Here -->