       <!-- Breadcubs Area Start Here -->
       <div class="breadcrumbs-area">
        <h3>Teacher Review</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Teacher Review</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->

    <!-- Teacher Review Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">                      
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                            <tr>
                                <th>Teacher Name</th>
                                <th>Subject</th>
                                <th>Time</th>
                                <th>Room Number</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>My Rating</th>
                                <th>Rate</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>       
                            <td>ABC</td> 
                            <td>Marathi</td>
                            <td>Tuesday( 9:38 AM To 10:38 AM) </td>
                            <td>5</td>
                            <td>abc@mail.com</td>
                            <td>9876543210</td>
                            <td>4</td>
                            <td>Rate</td>
                        </tr>

                        <tr>       
                            <td>XYZ</td> 
                            <td>Science</td>
                            <td>Friday( 9:38 AM To 10:38 AM) </td>
                            <td>5</td>
                            <td>xyz@mail.com</td>
                            <td>9786534201</td>
                            <td>4</td>
                            <td>Rate</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Teacher Review Area End Here -->
