        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Transport Routes</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Transport Routes</li>
            </ul>
        </div>
        <!-- Breadcubs Area End Here -->
<!-- Transport Routes Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                        <tr>
                            <th>Route Title</th>
                            <th>Vehicle</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rajgurunagar</td>         
                            <td>MH-12-AM-7783</td>                     
                        </tr>

                        <tr>
                            <td>Moshi</td>         
                            <td>MH-14-DW-1783</td>                     
                        </tr>

                        <tr>
                            <td>Shikrapur</td>         
                            <td>MH-10-PM-1234</td>                     
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>
<!-- Transport Routes Area End Here -->