       <!-- Breadcubs Area Start Here -->
       <div class="breadcrumbs-area">
        <h3>Exam Schedule</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Exam Schedule </li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->

    <!-- Exam Schedule  Start Here -->
    <div class="card height-auto">
        <div class="card-body">    
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                            <tr>
                                <th>#</th>
                                <th>Exam</th>
                                <th>Action</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>                               
                            <td>End Sem Exam Winter</td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>                               
                            <td>End Sem Exam Summer</td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Exam Schedule Area End Here -->
