       <!-- Breadcubs Area Start Here -->
       <div class="breadcrumbs-area">
        <h3>Online Exam</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Online Exam</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->

    <!-- Online Exam Start Here -->
    <div class="card height-auto">
        <div class="card-body"> 
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                            <tr>
                                <th>Exam</th>
                                <th>Date From</th>
                                <th>Date To</th>
                                <th>Duration</th>
                                <th>Total Attempt</th>
                                <th>Attempted</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>UT1</td>        
                            <td>27/01/2020</td>                       
                            <td>27/01/2020</td>
                            <td>00:30:00</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Result Published</td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>UT2</td>        
                            <td>05/03/2020</td>                       
                            <td>05/03/2020</td>
                            <td>00:30:00</td>
                            <td>1</td>
                            <td>0</td>
                            <td>Pending</td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Online Exam Area End Here -->
