       <!-- Breadcubs Area Start Here -->
       <div class="breadcrumbs-area">
        <h3>Notice Board</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Notice Board</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Notice Board Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">

            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap">
                    <thead>
                        <tr>
                            <th>Notice</th>
                            <th>Date</th>
                        </tr>
                </thead>
                    <tbody>
                        <tr>                   
                            <td>Test Notice</td>
                            <td>17/04/2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Notice Board Area End Here -->
