        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Hostel Roomss</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Hostel Rooms</li>
            </ul>
        </div>
        <!-- Breadcubs Area End Here -->
<!-- Hostel Rooms Area Start Here -->
<div class="card height-auto">
    <div class="card-body">           
            <!-- <div class="row gutters-8">
                <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                </div>
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 "></div>
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12">
                  <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
                  <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
                  <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
                  <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
                  <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
                  <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
                </div>
            </div> -->

            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                        <tr>
                            <th>Hostel</th>
                            <th>Room Type</th>
                            <th>Room Number/Name</th>
                            <th>Number Of Beds</th>
                            <th>Status</th>
                            <th>Cost Per Bed</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <td>A</td>
                            <td>Small</td>
                            <td>A-208</td>
                            <td>3</td>
                            <td>Vacant</td>
                            <td>1200</td>
                        </tr>

                        <tr> 
                            <td>B</td>
                            <td>Large</td>
                            <td>B-203</td>
                            <td>5</td>
                            <td>Occupied</td>
                            <td>1850</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>
<!-- Hostel Rooms Area End Here -->